.Modal {
    position: fixed;
    z-index: 200;
    border: 1px solid #eee;
    box-shadow: 0 2px 2px #ccc;
    background-color: white;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
    top: 30%;
    left: 25%;
    width: 50%;
    transition: all .3s ease-out;
}

.ModalOpen, .fade-slide-enter-active {
    /* opacity: 1;
    transform: translateY(0); */
    animation: openModal .4s ease-out forwards;
}

.ModalClosed, .fade-slide-exit-active {
    /* opacity: 0;
    transform: translateY(-100%); */
    animation: closeModal 1s ease-out forwards;
}

@keyframes openModal {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

    50% {
        opacity: 1;
        transform: translateY(20%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes closeModal {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    50% {
        opacity: .8;
        transform: translateY(60%);
    }

    100% {
        opacity: 0;
        transform: translateY(-100%);
    }
}